{
    margin: 0;
    padding: 0;    
}
body{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;  
    background: #204862;
}
.container{
    border-radius: 7px;
    background: #204862;
}
.page-header{
    text-align: center;
    color: #fff;
    background: deepskyblue;  
    font-weight: 100;
    margin: 0;
    margin-top: 15px;
    border-radius: 7px;
    border-bottom: 5px solid crimson;
}
img{
    max-width: 20%;
    max-height: 20%;
    min-width: 12%;
    min-height: 12%
}

.propietario{
    background: #ffffff;
    border-radius: 7px;
    margin-top: 0px;
    padding: 15px;
    margin-bottom: auto;
    margin-right: auto;
}
.ganado{
    background: #ffffff;
    border-radius: 7px;
    margin-top: 10px;
    padding: 15px;
}
h3{
    /*max-width: 80%;
    max-height: 80%;*/
    text-align: center;
    align-content: auto;
    font-size: 4.5vh;/*para adaaptar el tamaño del texto a la resolución*/
}
h4{
    width: auto;
    height: auto;
    text-align: center;
    /*font-size: 3vh;para adaptar el tamaño del texto a la resolución*/
}
.boton{
    height: 60px;
    font-size: 100%;
    color: #fff;
    text-align: center; 
    font-size: 3.0vh;
}
input[type="submit"]{
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 120px;
    height: 40px;
    color: #ffffff;
    background: #2daBea;    
    float: right;
    border: 2px;    
    transition: background .5s, color .5s; 
}
input[type="submit"]:hover{
    background: #144cB3;   
    border: 3px;
    border-bottom-color: #2daBea;
}
.radio>label{
    margin-right: 10px;
    padding-right: 10px;
}
.radio{
    margin-left: 10px;
}
/*select{
    max-width: 80%;
}*/
/*
.tasks, 
.sorts,
#resultTask1{
  margin: 15px;
}
.test {
  font: 24px Arial;
  text-align: center;
}
